/* Styles go here */

body{
    direction: rtl;
    text-align: center;
    display: block;
    margin: 0px;
 }
 
.menu {
    position: relative;
}

 .menu > ul {
  
   list-style: none;
   padding: 0;
   margin; 0;
   background-color: gray;
   width: 100%;
   height: 100px;
   margin-top: 0px;
   /*overflow: hidden;*/
 }
 
 .menu > ul > li {
  display: inline;
    /*float: left;*/
 }
 
 .menu > ul > li > a {
   text-decoration: none;
   font-family: arial;
   font-size: 14px;
   color: white;
   font-weight: bold;
   padding-left: 10px;
   padding-right: 5px;
   margin-top: 70px;
   display: inline-block;
 }
 
 .menu > ul > li > a:hover {
   background-color: none;
 }
 
 .dropdown-menu {
   position: relative;
 }
 
 .dropdown-menu .caret {}
 
 .dropdown-menu:hover .dropdown-content {
   display: block;
 }
 
 .dropdown-content {
   display: none;
   background-color: gray;
   font-family: arial;
   color: white;
   font-size: 14px;
   width: align-self auto;;
   position: absolute;
   left: 0;
   box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
   /*top: 0;*/
 }
 
 .dropdown-content > a {
   text-decoration: none;
   color: white;
   display: block;
   padding: 5px;
   font-weight: bold;
 }

.paz {
    position: absolute;
    top: 30px;
    right: 220px;
}

.paztr {
    position: absolute;
    top: 130px;
    right: 220px;
    border-bottom-right-radius: 10px;
}

.paztc {
    position: absolute;
    top: 130px;
    right: 520px;
}
.paztl {
    position: absolute;
    top: 130px;
    right: 820px;
}

.paztrin {
    position: absolute;
    top: 380px;
    right: 225px;
}

.paztcin {
    position: absolute;
    top: 380px;
    right: 525px;
}
.paztlin {
    position: absolute;
    top: 380px;
    right: 825px;
}